

@import url("./login.css");
@import url("./style.css");
@import url("./vendor.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 *{
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
input{
  border:1px solid #000
}
